# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
pr2/
catboost_info/
# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
